# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Build outputs
/.next/
/out/
/build

# Static exports
/export

# Local Environment
.env.local
*.log

# Firebase / App Hosting specific
apphosting.yaml

# Editor specific
.vscode/

# ShadCN specific
components.json

# Misc
.DS_Store
*.pem
